<%= form_for(@chatwill) do |f| %>
  <% if @chatwill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chatwill.errors.count, "error") %> prohibited this chatwill from being saved:</h2>

      <ul>
      <% @chatwill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sentence %><br>
    <%= f.text_field :sentence %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
