<p id="notice"><%= notice %></p>

<h1>Listing Chatwills</h1>
<%=a=system("/home/valentin/RubymineProjects/cwi2/tomita","/home/valentin/RubymineProjects/cwi2/config.proto")%>
<% FlickRaw.api_key="6ac1dd4e8e5b8af32c39a3de4db883fc" %>
<% FlickRaw.shared_secret="e119f82e1a1ed58f" %>
<%list1 =flickr.tags.getHotList()%>
<% list   = flickr.photos.search( :tags =>'road,way',:safe_search=>'3',:page=>'1', :sort=>'relevance',:tag_mode=>'all' ) %>
<% list.each do |list| %>
    <img src="https://farm<%=list.farm%>.staticflickr.com/<%=list.server %>/<%=list.id %>_<%=list.secret %>_m.jpg"/>
<% end %>

<div class="chat-container">
  <ul id="chat">
    <%= render @messages %>
  </ul>

  <%= form_for Message.new, remote: true do |f| %>
      <%= f.text_field :content %>
      <%= f.submit "Send" %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Sentence</th>
      <th>Author</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chatwills.each do |chatwill| %>
      <tr>
        <td><%= chatwill.sentence %></td>
        <td><%= chatwill.author %></td>
        <td><%= chatwill.date %></td>
        <td><%= link_to 'Show', chatwill %></td>
        <td><%= link_to 'Edit', edit_chatwill_path(chatwill) %></td>
        <td><%= link_to 'Destroy', chatwill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chatwill', new_chatwill_path %>
