<p id="notice"><%= notice %></p>

<p>
  <strong>Sentence:</strong>
  <%= @chatwill.sentence %>
</p>

<p>
  <strong>Author:</strong>
  <%= @chatwill.author %>
</p>

<p>
  <strong>Date:</strong>
  <%= @chatwill.date %>
</p>

<%= link_to 'Edit', edit_chatwill_path(@chatwill) %> |
<%= link_to 'Back', chatwills_path %>
