<p id="notice"><%= notice %></p>

<h1>Listing Chatwills</h1>
<%#FIXME почему-то работает только с абсолютными путями%>
<%=a=system("/home/valentin/RubymineProjects/cwi2/tomita","/home/valentin/RubymineProjects/cwi2/config.proto")%>

<%=system("ruby","/home/valentin/RubymineProjects/cwi2/app/rbscripts/open_to_flickr.rb")%>
<% FlickRaw.api_key="6ac1dd4e8e5b8af32c39a3de4db883fc" %>
<% FlickRaw.shared_secret="e119f82e1a1ed58f" %>
<% list1 =flickr.tags.getHotList()%>
<%=@messages.last.content%>
<%#TODO затычка, сюда пойдут переведенные теги%>
<% list   = flickr.photos.search( :tags =>@messages.last.content,:safe_search=>'3',:page=>'1', :sort=>'relevance',:tag_mode=>'all' ) %>
<% list.each do |list| %>
    <img src="https://farm<%=list.farm%>.staticflickr.com/<%=list.server %>/<%=list.id %>_<%=list.secret %>_m.jpg"/>
<% end %>

<div class="chat-container">
  <ul id="chat">
    <%= render @messages %>
  </ul>

  <%= form_for Message.new, remote: true do |f| %>
      <%= f.text_field :content %>
      <%= f.submit "Send" %>
  <% end %>
</div>